.gl-loading-mask{
	background-color:rgba(0, 0, 0, 0.8);
	position: absolute;
    z-index: 2000;
    background-color:rgba(255, 255, 255, 0.8);
    margin: 0 auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}
.gl-loading-spinner{
	width:100%;
	text-align:center;
	top:50%;
    position:absolute;
    margin-top:-48px
}
.carcontent{
    transform:scale(0.9,0.9);
}
.car{
    position: relative;
    width:150px;
    height: 100px;
    display: inline-block;
}
.car .car_body{
    position: absolute;
}
.car .car_top1,.car .car_top2{
    width:45px;
    height: 35px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background: #FF5000;
    position: absolute;
    left:70px;
    top:0;
    -webkit-transform:skew(24deg);
    -moz-transform:skew(24deg);
    -o-transform:skew(24deg);
    -ms-transform:skew(24deg);
    transform:skew(24deg);
}
.car .car_top1{
    left:40px;
    top:0px;
    -webkit-transform:skew(-24deg);
    -moz-transform:skew(-24deg);
    -o-transform:skew(-24deg);
    -ms-transform:skew(-24deg);
    transform:skew(-24deg);
}
.car .car_win1,.car .car_win2{
    width:24px;
    height:24px;
    background: #fff;
    border-top-left-radius:10px;
    position: absolute;
    left:83px;
    top:6px;
    -webkit-transform:rotate(80deg) skew(-10deg);
    -moz-transform:rotate(80deg) skew(-10deg);
    -o-transform:rotate(80deg) skew(-10deg);
    -ms-transform:rotate(80deg) skew(-10deg);
    transform:rotate(80deg) skew(-10deg);
}
.car .car_win1{
    left:48px;
    -webkit-transform:rotate(0deg) skew(-10deg);
    -moz-transform:rotate(0deg) skew(-10deg);
    -o-transform:rotate(0deg) skew(-10deg);
    -ms-transform:rotate(0deg) skew(-10deg);
    transform:rotate(0deg) skew(-10deg);
}
.car .car_win1:after,.car .car_win2:after{
    content:'';
    display:inline-block;
    width:10px;
    height: 24px;
    background: #fff;
    position: absolute;
    left:16px;
    top:0;
    -webkit-transform:skew(10deg);
    -moz-transform:skew(10deg);
    -o-transform:skew(10deg);
    -ms-transform:skew(10deg);
    transform:skew(10deg);
}
.car .car_win2:after{
    top:9px;
    left:7px;
    -webkit-transform:rotate(-90deg) skew(-10deg);
    -moz-transform:rotate(-90deg) skew(-10deg);
    -o-transform:rotate(-90deg) skew(-10deg);
    -ms-transform:rotate(-90deg) skew(-10deg);
    transform:rotate(-90deg) skew(-10deg);
}
.car .car_bottom1,.car .car_bottom2{
    width:74px;
    height:33px;
    background: #FF5000;
    border-top-left-radius: 24px 20px;
    border-bottom-left-radius: 3px;
    border-bottom:8px solid rgb(186,188,187);
    position: absolute;
    top:34px;
    left:4px;
    -webkit-transform:skew(-4deg);
    -moz-transform:skew(-4deg);
    -o-transform:skew(-4deg);
    -ms-transform:skew(-4deg);
    transform:skew(-4deg);
}

.car .car_bottom2{
    height: 36px;
    border-top-left-radius: 0;
    border-top-right-radius: 13px 17px;
    border-bottom-right-radius: 3px;
    left:70px;
    top:31px;
    -webkit-transform:skew(8deg);
    -moz-transform:skew(8deg);
    -o-transform:skew(8deg);
    -ms-transform:skew(8deg);
    transform:skew(8deg);
}
.car .car_bottom2 .name{
    font-size:12px;
    font-weight: bolder;
    color:#fff;
    position: absolute;
    top:4px;left:26px;
}
.car .frontWheel,.car .endWheel{
    width:34px;
    height:34px;
    border-radius: 50%;
    background:#333;
    position: absolute;
    top:55px;
    left:30px;
     -moz-animation:tyre-rotate 1s infinite linear;
    -webkit-animation:tyre-rotate 1s infinite linear; 
}
.car .endWheel{
    left:90px;
}
.car .frontWheel:after,.car .endWheel:after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}
.car .exhaust{
    width:18px;
    height:18px;
    background: rgba(0,0,0,0.3);
    border-radius: 8px 8px 8px 1px;
    position: absolute;
    left:80px;
    top:55px;
    opacity: 0;
}
.car .foot{
    width: 2px;
    height: 4px;
    background: #000;
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 8;
    box-shadow: 0px 10px;
}
.car .foot:after{
    content: '';
    width: 2px;
    height: 4px;
    background: #1d0101;
    position: absolute;
    top: 5px;
    left: -5px;
    z-index: 8;
    box-shadow: 0px 10px;
    -webkit-transform:rotate(-90deg); 
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); 
    transform:rotate(-90deg); 
}

@keyframes tyre-rotate {
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(-360deg);}
}

.message{
    font-size:16px;
    color:#ff5000;
}